.me {
  opacity: 1;
  transition: transform 0.3s ease;
}

#pc-svg {
  max-width: 1000px;
}

#pc-svg {
  width: 100%;
  max-width: 600px;
  height: auto;
  flex-shrink: 0;
}

.section-contato {
  background-color: #1D1F1B;
  transition: background-color 0.3s ease;
}

.color-card h3,
.color-card p {
  color: #F8F4E3
}

.title {
  color: #F8F4E3;
}

.corner-image {
  max-width: 100%;
  height: auto;
  pointer-events: none;
  user-select: none;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.icon-circle {
  background-color: #2F312C;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 0.5rem
}

.icon {
  font-size: 30px;
}

.footer p {
  color: #F8F4E3;
}

.contact-itens {
  font-family: 'Open Sans', sans-serif;
  color: #F8F4E3;
  padding: 1rem;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.contact-itens a {
  width: 250px;
  color: #F8F4E3;
  text-decoration: none;
}

.contact-itens a:hover {
  transform: translateY(-8px) scale(1.05);
  box-shadow: none;
  z-index: 5;
  border-top-right-radius: 30px;
}

.contact-itens a:hover>div {
  box-shadow: 0 8px 20px #A398D1;
  border-radius: 12px;
  padding: 0.5rem;
}

@media (max-width: 767px) {
  body.modo-claro .corner-image {
    transform: scale(0.85);
  }

  .section-contato {
    padding-bottom: 60px;
  }
}

@media (min-width: 992px) and (max-width: 1290px) {
  .color-card p {
    font-size: 13px;
  }
}

@media (min-width: 2560px) {
  .section-contato {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
  }

  .color-card p {
    font-size: 22px;
  }

  .color-card h3 {
    font-size: 30px;
  }

  .icon {
    font-size: 35px;
  }

  .icon-circle {
    width: 95px;
    height: 95px;
  }

  .corner-image {
    width: 800px;
    height: auto;
  }
}

body.modo-claro .section-contato {
  background-color: #F8F4E3;
}

body.modo-claro .color-card h3 {
  color: #1D1F1B;
}

body.modo-claro .color-card p {
  color: #1D1F1B;
}

body.modo-claro .title {
  color: #3B3B3B;
}

body.modo-claro .icon-circle {
  background-color: #D4AF37;
}

body.modo-claro .icon {
  color: #1c1a1e;
}

body.modo-claro .footer p {
  color: #1D1F1B;
}